body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    margin-inline: 0;
    padding-inline: 0;
    margin-block: 0;
    list-style: outside none none;
}

.top {
    box-sizing: border-box;
    width: 100%;
    background: rgb(56, 57, 125);
    color: white;
    box-shadow: 1px 3px 6px rgba(128, 128, 128, 0.5);
    z-index: 2;
}

.top .nav-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: all 0.3s ease 0s;
}

.top .nav-menu-btn-div {
    display: none;
}


.top a {
    text-decoration-line: none;
    color: white;
}

.top .item {
    padding: 1rem;
}


#home {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    color: white;
    line-height: 2;
    position: relative;
}

#home .hi {
    font-size: 1.5rem;
}

#home .name {
    font-size: 2rem;
    font-weight: bold;
}

#home .work {
    font-size: 1.2rem;
    font-style: italic;
}

.contact {
    display: flex;
    padding-top: 1rem;
}

.contact div {
    padding: 0.2rem;
    cursor: pointer;
}

.contact img {
    height: 2rem;
    transition: all 0.3s ease-in-out 0s;
}

.contact img:hover {
    transform: scale(1.2);
}

.photo {
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 1rem;
    display: inline-block;
    border: 1vw solid white;
    box-shadow: 0 0 12px rgba(110, 119, 123, 0.66);
}


.photo img {
    width: 25vw;
    height: auto;
}

/*wave*/
.wave {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    height: 3vh;
    width: 100%;
    animation: current 2s linear infinite;
    overflow: hidden;
}

.wave-line {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    background: rgba(255, 255, 255, .8);
    border-radius: 50% 80% 40% 80%;
    z-index: 1;
    animation: move 8s linear infinite;
}

@keyframes current {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -9vw;
    }

}

@keyframes move {
    0% {
        border-radius: 60% 70% 30% 70%;
        transform: rotate(10deg) translateY(2.5vh);
    }
    50% {
        border-radius: 50%;
        transform: translateY(1.5vh);
    }

    75% {
        border-radius: 60% 70% 30% 70%;
        transform: rotate(20deg) translateY(3vh);
    }
    100% {
        border-radius: 60% 70% 30% 70%;
        transform: rotate(10deg) translateY(2.5vh);
    }

}

/*about*/
#about .info {
    width: 75vw;
}

#about table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#about table td {
    padding: 0.8rem;
    border: 1px solid #e0e0dc;
}

#about table td.title {
    text-align: center;
}

#about table tr td:first-child {
    font-weight: bold;
}

#about > div {
    box-sizing: border-box;
    margin: 1rem;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/*skill*/
#skill {
    background: #7682a9;
    padding: 1rem;
}

.part-title {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #3F51B5;
    mix-blend-mode: difference;
    text-shadow: 0 1px 3px rgba(110, 119, 123, 0.66);
}

#skill .skill-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skill .skill-item > div {
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 0.2rem;
    background: white;
    text-transform: uppercase;
    color: #666;
}

#skill .skill-item p {
    font-size: 0.8rem;
}

#skill .skill-item img {
    padding: 1rem;
}

#skill .skill-item > div:hover, #prize li .content:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5rem);
}

/*prize*/
#prize {
    background: #F0F0F0;
    padding: 3rem;
}

#prize li {
    border-left: 2px solid #b19f3b;
    margin-left: -2px;
    padding: 1rem;
}

.prize-icon {
    float: left;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    display: inline-block;
    background: url("../img/prize.png");
    background-size: cover;
    margin-left: -2rem;
}

#prize h2, #prize h5 {
    color: #676767;
    margin: 0;
}

#prize h2 {
    padding-left: 1rem;
}

#prize .content > div {
    color: #888;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

#prize li .content {
    background: white;
    padding: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out 0s;
}

#prize li:not(:nth-child(1)):before {
    content: " ";
    display: block;
    border: 0.15rem #6968a2 solid;
    border-radius: 50%;
    height: 0.25rem;
    width: 0.25rem;
    margin-left: -1.3rem;
    background: #F0F0F0;
}
/*experience*/
#experience{
    background: white;
}

/**/
#project{
    background: #F0F0F0;
}
@media screen and (max-width: 600px) {
    .top .nav-menu-btn-div {
        display: flex;
        padding: 1rem;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .top .item {
        padding: 0 1rem 1rem;
    }

    .top .open-menu-btn {
        height: 2rem;
        width: 2rem;
        display: inline-block;
        background: transparent;
        position: relative;
        border: 1px solid white;
        border-radius: 0.25rem;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }

    .top .open-menu-btn img {
        padding: 0.25rem;
        width: 100%;
        height: 100%;
    }

    .top .nav-menu {
        position: absolute;
        top: -9999px;
        transform-origin: 0 0 0;
        width: 6rem;
        transform: scaleY(0);
        flex-direction: column;
    }

    /*about*/
    #about {
        flex-direction: column;
    }
}

